* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  --primary-color: #13aa52;
  --light-color: #B1FF05;
  --light-dimmy-color: #a1eb00;
  --dark-color: #023430;
}

input {
  font-family: inherit;
  border: 5px solid var(--light-color);
  outline: none;
  font-size: 1.2em;
  padding: 0.25em 0.5em;
  border-radius: 8px;
  transition: 0.1s scale ease-in;
  &:focus {
    scale: 1.05;
  }
}

button {
  cursor: pointer;
  border: none;
  padding: 0.25em 0.5em;
  font-size: 1em;
  background-color: var(--light-color);
  border-radius: 8px;
  transition: 0.1s background-color ease-in-out;
  &:hover {
    background-color: var(--light-dimmy-color);
  }
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 300px 1fr;

  #header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: white;
    background-color: var(--primary-color);
    box-shadow: var(--primary-color) 0px 1px 4px;
    display: flex;
    padding: 0 2em;
    align-items: center;
    & > * + * {
      margin-left: 1em;
    }
    position: relative;
  }

  #navigation {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: var(--dark-color);
  }

  #explorer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

  }
}
